<div class="container">
  <h3>{{meal.name}}</h3>
  <img src="{{meal.imgURL}}" alt="" />
  <h4>{{meal.description}}<br>
  <h4>Ingredients: {{meal.ingredients}}</h4><br>
  <h4>Spiciness:{{spicy-scale meal}}</h4>
  <h4>Price: ${{meal.price}}</h4>
  </h4>
</div>
