{{#if updateMealForm}}
  <form class="form-group update-meal">
    <h2>Update Meal Item</h2>
    <div>
      <label>Name</label>
      {{input value=meal.name id="name" placeholder=meal.name class="form-control"}}
    </div>
    <div>
      <label>Description</label>
      {{textarea value=meal.description id="description" placeholder=meal.description class="form-control"}}
    </div>
    <div>
      <label>Price</label>
      {{input value=meal.price id="price" placeholder=meal.price class="form-control" type="number"}}
    </div>
    <div>
      <label>Ingredients</label>
      {{textarea value=meal.ingredients id="ingredients" placeholder=meal.ingredients class="form-control"}}
    </div>
    <div>
      <label>Spicy Scale (1-5)</label>
      {{input value=meal.spicyScale id="spicyScale" placeholder=meal.spicyScale class="form-control"}}
    </div>
    <div>
      <label>Image URL</label>
      {{input value=meal.imgURL id="imgURL" placeholder=meal.imgURL class="form-control"}}
    </div>
    <div>
      {{input value=meal.popularity id="popularity" placeholder=meal.popularity class="form-control" type="hidden"}}
    </div>
    <button {{action "updateMeal" meal}} class="btn btn-success">Submit</button>
  </form>
{{else}}
  <button {{action "showUpdateMealForm"}} class="btn btn-warning col-xs-3 col-xs-offset-2">Update Meal</button>
{{/if}}
